.nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        display: flex;
        padding: 0.7rem 1.7rem;
        z-index: 2;
        position: fixed;
        border-radius: 3rem;
        backdrop-filter: blur(15px);

        .active {
            background: #2c2c6c;
            color: white;
        }

        p {
            background: transparent;
            padding: 0.9rem;
            border-radius: 50%;
            display: flex;
            color: rgba(255, 255, 255, 0.6);
            font-size: 1.1rem;
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.4);
            }
        }

        &__language {
            display: flex;


            img {
                width: 20px;
                margin: 0 .5rem 0 .5rem;
                cursor: pointer;
            }
        }


    }
}